server:
  port: 60000

spring:
  application:
    name: USER-SERVICE
  profiles:
    active: h2  # 기본 프로필 설정

eureka:
  instance:
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}
    prefer-ip-address: true
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka

greeting:
  message: Welcome to the MSA E-commerce.
