server:
  port: 9001

spring:
  application:
    name: auth-service

  cloud:
    config:
      uri: http://localhost:8888
      name: auth-service
      profile: default

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/